<li>
  <%= nav_link_to "Dashboard", send("root_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Customers", customers_path, class: "nav-link" %>
</li>

<li>
  <%= nav_link_to "Invoices", invoices_path, class: "nav-link" %>
</li>

<li>
  <%= nav_link_to "Products", products_path, class: "nav-link" %>
</li>
